<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Ye Olde Blog Shoppe</h4>
    <p>Everything's for sale friend, everything. Some people may call this stuff junk, but me, I call it treasure. Hands to yourself sneak-thief.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <!-- Homework ^ add links to the following social media platforms to your profiles -->
    </ol>
  </div>
</div>