<h1>Contact Me</h1>

<hr>

<p><%= number_to_phone "9727405156" %></p>

<h3>Email</h3>

<p><a href="mailto:dcb.donny@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>

<div class="col-md-6"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.5006420965287!2d-111.88063868417375!3d40.97051697930458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752ff4a50a17815%3A0x236522cdbfa11ae0!2s381+Spencer+Way%2C+Farmington%2C+UT+84025!5e0!3m2!1sen!2sus!4v1500393935855" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
